body {
    background-color: lavender;
}

.welcome {
    background-color: #320d7b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 30px;
    width: 50%;
    margin: auto;
}

.pic {
    padding: 2px;
    margin: auto;
    text-align: center;
}

h2.Intro {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #320d7b;
    text-align: center;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
}

a.link {
    color: green;
    text-decoration: none;
}

a:hover {
    color: hotpink;
}

h1.About {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: white; 
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 30px;
    padding: 5px;
    background-color: #320d7b;
    width: 50%;
    margin: auto;
}

h2.Bio {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #320d7b; 
    width: 75%;
    margin: auto;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
    padding: 5px;
}

h3.languages {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #320d7b; 
    width: 75%;
    margin: auto;
    text-align: center;
    padding: 10px;
}

h1.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40 px;
    text-align: center;
    background-color: #320d7b;
    color: white;
    width: 50%;
    border-radius: 30px;
    margin: auto;
    padding: 5px;
}

h2.buspic {
    padding: 2px;
    margin: auto;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

h2.howto {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: #320d7b;
    color: white;
    width: 50%;
    border-radius: 30px;
    margin: auto;
    padding: 5px;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
grid2.skills{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #320d7b; 
    width: 75%;
    margin: auto;
    text-align: center;
    padding: 10px;
}